name: Build and Test

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        include-prerelease: true

    - name: Restore
      run: dotnet restore LinkySmartAdvisor.slnx

    - name: Build
      run: dotnet build LinkySmartAdvisor.slnx -c Release --no-restore

    - name: Test
      working-directory: ./Linky.Tests
      run: |
        dotnet test Linky.Tests/Linky.Tests.csproj \
        -c Release \
        --no-build \
        --logger "console;verbosity=normal"
